@media screen and (min-width: 802px){
    .nav {
        border: 2px blue solid;
    }
}
@media screen and (max-width: 801px){
    .nav {
        border: 2px green solid;
    }
}
@media screen and (max-width: 480px){
    .nav {
        border: 2px red solid;
    }
}

